*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.7fr 5fr;
}